* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: aliceblue;
}

/* Nav-bar */

#nav-bar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}

#nav-bar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#nav-bar ul li a {
    padding: 0.75rem;
}

#nav-bar ul li a:hover {
    background: #336ea2;
    border-radius: 7px;
    letter-spacing: 0.5px;
}

/* Home Section */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid grey;
}

#home img {
    border-radius: 300px;
}

#home h2 {
    margin: 0.75rem;
}

#home p {
    font-style: italic;
    opacity: 0.6;
}


/* Training */

#training {
    color: #fff;
    padding: 1rem;
}

#training .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#training .items .item{
    margin: 1.5rem;
}

#training .items .item h3 {
    padding-bottom: 0.5rem;
}

#training .items .item:hover {
    color: black;
}

/* Courses */

#courses {
    color: #336ea2;
    padding: 1rem;
}

#courses .courses {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#courses .courses .course {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#courses .courses .course .course-image {
    margin-right: 0.5rem;
    position: relative;
}

#courses .courses .course .course-image img {
    width: 200px;
    height: 200px;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 10px;
}

#courses .courses .course .course-image span {
    background: red;
    padding: 0.25rem;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#courses .courses .course .course-info .title {
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#courses .courses .course .course-info .description {
    letter-spacing: 1.5px;
    margin-bottom: 0.5rem;
    opacity: 0.7;
}

#courses .courses .course .course-info .instructor {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    opacity: 0.5;
}

#courses .courses .course .course-info .rating {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    opacity: 0.5;
}

/* Contact */

#contact {
    color: white;
    padding: 2rem;
}

#contact .contact-form {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}